CSteamworks.bundle/
libsteam_api.so
libCSteamworks.so
buildID.txt
settings.cfg
*.exe
KSP_Data/
Launcher_Data/
GameData/
saves/scenarios/
*.dll
saves/training/
Physics.cfg
PartDatabase.cfg
readme.txt
KSP.log
Ships/SPH/
Ships/VAB/
Ships/@thumbs/
*.log
